@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

* {
  font-family: Google Sans Flex;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: linear-gradient(140deg, rgb(0, 46, 70), rgb(24, 0, 23));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

input {
  background-color: transparent;
  border: 0.5px solid white;
  padding: 2px;
  margin: 5px;
}

button {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: black;
  border: 0.5px solid white;
  padding: 5px;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
}

table {
  padding: 10px;
  border-collapse: collapse;
  margin-top: 20px;
}

tr,
td,
th {
  padding: 10px;
}

td,
th {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
}

select {
  color: white;
  background-color: black;
  background-image: linear-gradient(140deg, rgb(0, 46, 70), rgb(24, 0, 23));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

input {
  border: 0.5px solid white;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
}

.create {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.center {
  width: max-content;
  margin: auto;
  display: block;
}

.create-btn {
  margin: 5px 10px;
}

.main-heading {
  text-align: center;
  margin: 10px 0;
}
